nav .navbar-nav li a{
    color: #cbbde2;
    }

nav .navbar-nav li a:hover{
    color: #fefefe;
    }

#first-row {
    margin-top: 50px;
}

h1 {
    color: #614a8f;
    font-size: x-large;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    margin-top: 20px;
    font-size: x-large;
    font-weight: bold;
}

#faq div.collapse {
    margin-bottom: 20px;
}